<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<title>Burger Madness</title>
		<script
  		src="https://code.jquery.com/jquery-3.3.1.min.js"
  		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  		crossorigin="anonymous">
  		</script>
		<script type="text/javascript" src="/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
