#uneaten {
  padding: 5px;
  margin: 5px;
  font-size: 3vmin;
  background: white;
  border-radius: 5px;
}

#eaten {
	padding: 5px;
	margin: 5px;
	font-size: 3.5vmin;
	background: #6c757d;
	border-radius: 5px;
  text-decoration: line-through;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
} 

.form-group {
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
	background:  #eeeeee;
}

#burgie {
	max-height: 300px;
	width: auto;
}

#form {
	margin-top: 15px;
	margin-bottom: 15px;
}

#header {
	margin-top: 15px;
	margin-bottom: 15px;
}

#eat-btn {
}

#del-btn {
}

.footer {
  background: #6c757d;
  height: 40px;
}

a {
  color: white;
}