<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour=0>
		{{#if devoured}}EAT ME!{{else}}JK I never ate that!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
 